.principal-index{
    position: relative;
    text-align: center;
    img{
        width: 100%;
    }
    h3 {
        font-size: 2em;
        padding: 2%;
        font-weight: bolder;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 4px rgba(14, 12, 12, 0.7);
    }
}

